body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root,html,body,.App{
  width: 100%;
  height: 100%;
}
.l1{
  color: black;
  text-decoration:none;
  margin: 1vw;
}
.l1:hover{
  
  text-decoration:underline;
}
.d1{
  padding:2vw;
  float: right;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin:1vw;
}
.d2{
  width: 100%;
  height:70%;
  background-color:#fcff64;
  border-bottom: 1px solid;
  border-radius: 0% 0% 50% 50%;

}
.d3{
   
  background-image: url('./image/p5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:auto;
  border-radius: 2vw;
  border:1px solid;
  position:absolute;
  top: 12vw;
  left:15vw;
  padding:1vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  box-shadow: black 0 0 1vw;
  
}
.d6 input,.d3 button{
  background-color:rgba(0, 255, 255, 0);
  display: block;
  border: none;
  border-bottom: 1px solid red;
  margin:1vw;
  outline:none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.d3 button{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  cursor: pointer;
}
.d6 input{
  width:30vw;
}

.d4 {margin: 0;
  font-size:20vw;
  font-family: Georgia;
  padding:0;
}
.s1{
  font-size:12vw;
  position:relative;
  bottom: 3vw;
  font-family: Georgia;
  margin-left: 2vw;
}
.s2{
  font-size:6vw;
  position:relative;
  bottom: 5vw;
  font-family: 'Lobster';
  margin-left: 2vw;
}
.d3 input:focus{
  border-color:crimson;
  border-width: 3px;
  }
  .d6{
    display: inline-block;
    
  }
  .d5{
    text-align: center;
    float: right;
    margin-left: 2vw;

  }
  .d5 h2{
    font-size:3vw;
  }
  .d5 h4{
    font-size:2vw;
  }
  .d5 .icon{
    padding:1vw;
    font-size:2vw;
  }
  .d5 .icon:hover{
    color:rgb(42, 187, 245);
  }
  @media only screen and (max-width:600px){
    .d1 {
      float: none;
      text-align: center;
    }
    .d3{
      position:unset;
      margin:2vw;
      text-align: center;
    }
    .d5{
      float: none;
    }
    .s1,.s2{
      position:unset;
    }
    .d2{
      text-align: center;
    }
  }
  .d7{
    background-color:deepskyblue;
  }
  .d8{
    background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/flowers-still%20life_CCINHZXPBO.jpg');
  }
  .d10{
    background-color:#fcff64;
   width:70%;
  }
  .d10 h1{
    display: inline;
  }
  .d11{
    text-align:center;
    padding:1vw;
    align-items: center;
    width: 100%;
    height: 100%;
    background:rgb(0, 255, 179);
  }
  .d12 img{
    width:150px;
    height:150px;
    border-radius :50%;
    margin:1vw;
  }
  .d13{
    width: 70vw;
    background-color:rgb(255, 0, 255);
    margin: auto;
    text-align:justify;
    padding: 2vw;
    font-size: 18px;
    font-family: 'Scheherazade New';
    border:4px double rgb(255, 136, 0);
  }
  .d13>h1{
    display: inline;
  }
.d11 .d1{
  display: block;
  float:unset;
}
.d15 img{
  width:120px;
  height:120px;
  border-radius :50%;
  border:2px solid rgb(252, 255, 91);
  box-shadow:0 0 .5vw red;
 padding:.5vw;
 cursor:pointer;
}
.d15{
  background-color:mediumspringgreen;
  text-align:center;
  padding:.5vw;
}

.d{
  display:inline;
  float:left;
  margin-left: 2vw;
  font-size:25px;
  font-family:'Abril Fatface';
  color:rgb(0, 110, 255);
}
.name{
  margin: auto;
}
.d .name{
  color:rgb(8, 86, 138);
  font-size: 30px;
}
.d h2{
  margin:1vw;
}
.d15 a {
  color:rgb(202, 33, 207);
  
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
  font-family:'Scheherazade New';
  cursor: pointer;
}
.d15 a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(39, 115, 255);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.d15 a:hover:after { 
  width: 100%; 
  left: 0; 
}
.d16{
  display: flex;
  height: auto;
  width: 100%;
}
.d17{
  width:30%;
  background:rgb(26, 238, 253);
  text-align:center;
  border:1px double pink;
  margin: 1vw;
  box-shadow: 0 0 1vw pink;
  overflow-y: scroll;
  padding:2vw;
  overflow-wrap:break-word;
}
.d18{
  width:50%;
  background:rgb(231, 229, 229);
  height:auto;
  margin: 1vw;
  border:1px double pink;
  border-radius:2vw;
  box-shadow: 0 0 1vw pink;
  text-align: center;
  padding:1vw;
}
.d19{
  height:auto;
  width:20%;
  background:rgb(243, 109, 255);
  margin: 1vw;
  border:1px double pink;
  border-radius:2vw;
  box-shadow: 0 0 1vw pink;
 text-align: center;
 padding:.5vw;
}

.d17 input{
  margin:2vw;
  width:25%;
  border:none;
  background:none;
  border-bottom: 2px solid rgb(255, 0, 0);
  font-size: 15px;
  outline:none;
  font-family: 'PT Serif';
  font-weight: bold;
  display: block;
}
.post{
  background-color:springgreen;
  margin:auto;
  width:95%;
  border-radius: 2vw;
  border:2px solid black;
  padding: .5vw;
}
.i{
  font-size:30px;
  margin:1vw;
  padding:1vw;
  position:relative;
  right:1vw;
  cursor: pointer;
}
.post span{
  position: relative;
  left:3.5vw;
}
.i1{
  color:rgb(44, 155, 199);
}
.i2{
  color:rgb(255, 0, 0);
}
.i3{
  color:tomato;
}
.massage{
  color:rgb(206, 44, 255);
 font-weight:bold;
 padding:1vw;
 }
.massage p{
  margin:none;
  padding:none;
  display: inline;
}
.massage h5{
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 1vw;
  color:black;
  display:inline;
}
.massage div{
  overflow-x: hidden;
}
.d14{
  height: auto;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #0be3ff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:black;
  text-decoration: none;
  cursor: pointer;
}
.Alu{
  width: 240px;
  display: inline-block;
  border:2px solid rgb(226, 255, 61);
  margin:1vw;
  padding:1vw;
  font-family:'PT Sherif';
  font-weight:bold;
  background-image: linear-gradient(green,yellow,red);
}
.Alu img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:2px solid red;
}
.Alu span{
  display:block;
}
.Alu h3{
  margin-bottom: 0;
}
.st{
  width: 240px;
  display: inline-block;
  border:2px solid rgb(226, 255, 61);
  margin:1vw;
  padding:1vw;
  font-family:'PT Sherif';
  font-weight:bold;
  background-image: linear-gradient(rgb(74, 172, 228),rgb(255, 0, 212),rgb(255, 166, 0));
  border-radius: 2vw;
}
.st img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:2px solid rgb(157, 255, 0);
}
.st span{
  display:block;
}
.st h3{
  margin-bottom: 0;
}
.post .modal .modal-content{
  width:50%;
}
.post .modal .modal-content h1{
  font-family: 'Sofia';
  color: red;
}
.post .modal .modal-content .sms{
  outline: none;
  background:none;
  border:2px solid rgb(0, 162, 255);
  width:40%;
  height:10vw;
  display: block;
  background-color: rgb(178, 255, 78);
  margin:auto;
  overflow-wrap: break-word;
  border-radius: 2vw;
  box-shadow: 0px 0px 10px rgb(255, 8, 0);
  padding: 1vw;
  font-size:20px;
  font-weight:bold;
  font-family:'PT Serif'
}
.post .modal .modal-content .pt{
   margin:1vw;
   background-color:tomato;
   font-size:20px;
   border:none;
}
.post .modal .modal-content .pt:hover{
  background-color:red;
  box-shadow: 0 0 4vw yellow;
  cursor: pointer;
  
}

.Topic{
  background-color: rgb(182, 235, 248);
  color:rgb(250, 41, 121);
  margin:auto;
  text-align:center;
  font-size: 20px;
  vertical-align:middle;
  padding:1vw;
}
.art{
  width: 80%;
  background-color:greenyellow;
  text-align:center;
  font-size: 20px;
  vertical-align:middle;
  padding:1vw;
  display: block;
  height:20VW;
  outline: none;
  border-radius: 2vw;
  font-family:'Abril Fatface';
}
.btn{
  outline: none;
  padding:1vw;
  font-weight: bold;
  background-color: red;
  margin:2vw;
  cursor: pointer;
}
.post img{
  width:auto;
  height:28vw;
  border-radius: 1vw;
  border:2px solid black;
}
.intro{
  border-bottom: 2px solid rgb(255, 137, 157);
  padding: 1vw;
  text-align:left;
  margin-bottom:1vw;
}
.intro img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border:2px solid black;
  float: left;
  margin-right: 5px;
  
}
.intro h4{
  display: block;
  margin: none;
  font-weight:bold;
  color:rgb(255, 78, 78);
}
.intro p{
   margin-bottom:0;
   padding-bottom:0;
   font-family:'PT Sherif'
}
.post video{
  width:auto;
  height:23vw;
  border-radius:1vw;
  border:2px solid red;
}
.post h3{
  text-decoration: underline;
  font-family: 'PT Sherif';
  font-size:25px;
  color:rgb(250, 37, 83);
}
.artic{
  height:auto;
  width:28vw;
  border:2px solid black;
  border-radius: 1vw;
  background-color:rgb(183, 250, 96);
  display: inline-block;
  text-align: justify;
  text-align: center;
  padding:1vw;
  font-size: 18px;
  color:rgb(0, 153, 255);
  font-weight:bold;
  overflow-wrap: break-word;
}
.p1{
  width: 100%;
  height:auto;
  background-color:rgb(198, 251, 255);
}
.p2{
  width:30%;
  height:auto;
  background-color:rgb(255, 59, 59);
  border:2px solid orange;
  margin:2vw;
  padding:1vw;
  display:inline-block;
  float:left;
}
.p3{
  text-align: center;
  padding:1vw;
  width:50%;
  height:auto;
  background-color:rgb(21, 171, 230);
  border:2px solid orange;
  display:inline-block;
  margin:2vw;
  border-radius: 2vw;
}
.p2 img{
  width: 150px;
  height: 150px;
  border-radius: 50%;

}
.p2 h2{
   margin-bottom:0;
   padding-bottom: 0;
}
.p2 h3{
  margin-top:0px;
  margin-bottom:0px;
}
.p2 span{
  display: block;
}
.p2 .link{
  text-decoration: none;
  color:black;
  padding-top: 10px;
  font-weight:bold;
}
.p2 .link:hover{
  color:chartreuse;
}
.p3 h1{
  font-family: 'Sofia';
}
.intro button{
display:inline;
float:right;
z-index:1;
color:red;
cursor:pointer;
outline:none;
background:none;
border:2px solid orangered;
font-weight:bold;
}
.intro button:hover{
  border:2px solid red;
  background-color:white;
}
.E{
  width: 100%;
  height:100%;
  background-color:rgb(198, 251, 255);
  padding:1vw;
}
.E1{
  padding:1vw;
  border:3px solid red;
  box-shadow:0 0 1vw black;
  width:35%;
  height:auto;
  margin:auto;
  background-color:rgb(233, 222, 122);
}
.E2{
  padding:1vw;
  border:3px solid red;
  box-shadow:0 0 1vw black;
  width:35%;
  height:auto;
  margin:3vw;
  float:left;
  background-color:rgb(138, 252, 208);
}
.E3{
  padding:1vw;
  border:3px solid red;
  box-shadow:0 0 1vw black;
  width:35%;
  height:auto;
  margin:3vw;
  float:right;
  background-color:rgb(245, 161, 161);
}
.btn{
  display:block;
  margin:0;
  margin-top: 1vw;
}
.E1 .E1I1{
  outline:none;
  background:none;
  border:none;
  border-bottom: 2px solid red;
}
.E1 .E1I{
  display: inline;
  padding:.5vw;
  border:2px solid black;
  background-color: yellow;
  cursor: pointer;
}
.E2 div{
  margin:2vw;
  text-align:center;
}
.E2 div span{
  float:left;
  color:blue;
}
.E div button{
  float:right;
  background:none;
  outline:none;
  background-color: deeppink;
  cursor: pointer;
  font-weight:bold;
  
}
.E2 input{
  outline:none;
  background:none;
  border:none;
  border-bottom: 2px solid rgba(255, 0, 0, 0.822);
  font-family:'PT Sherif';
  font-size:15px;
  font-weight: bold;
}
.E2 input:focus{
  border-bottom: 3px solid rgb(255, 0, 0);
}
.E3 a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.E3 span{
  font-weight: bold;
  color:red;
}
.d19 button{
  outline:none;
  background:none;
  background-color:rgb(229, 255, 80);
  color:coral;
  font-weight:bold;
 
}
.ddd img{
  width:10vw;
  height:10vw;
  border-radius: 50%;
  border:2px solid black;
}
.ddd{
  border:2px solid black;
  margin: 1vw;
  overflow-wrap: break-word;
  background-color: rgba(58, 153, 3, 0.596);
}
@media only screen and (max-width:600px){
  .E1{
width:90%;
  }
  .E3,.E2{
    float:unset;
    display:block;
    width:90%;
  }
  .d15 span{
    display:block;
  }
  .d15{
    margin-bottom: 2vw;
  }
  .p1{
    text-align: center;
  }
  .p2{
    float:unset;
    display:block;
    width:80%;
    text-align:center;
    margin:auto;
  }
  .p3{
    width:80%;
    
  }
  .d{
    float:unset;
    display:block;
  }
  .d16{
    display:block;
    text-align:center;
    }
  .d17{
    height:40vw;
    width:80%;
    margin:auto;
    overflow-y:scroll;
  }
  .d18{
    width:90%;
    margin-top:2vw;
  }
  .d19{
    display:none;
  }
  .post video{
        height:40vw;
  }
  .post img{
    height:45vw;
      width:auto;
      border-radius: 1vw;
      border:2px solid black;
    
  }
  .intro img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:2px solid black;
    float: left;
    margin-right: 5px;
    
  }
}
.like{
  margin:1vw;
  font-size :20px;
}
.like .likeicon{
  color: rgb(3, 121, 190);
}
.like .likeicon:hover{
  color:tomato;
  cursor:pointer;
}